@{
    Layout = null;
}
    <div class="form-group">
        <label class="select-cno">课号</label>
        @Html.TextBox("cno", null, new { @class = "form-control", @style = "width:300px;" })
    </div>
    <div>
        <label class="select-cno">课名</label>
        @Html.TextBox("cname", null, new { @class = "form-control", @style = "width:300px;" }) <br />
    </div>
