body {
    margin:0px;
    padding:0;
}
#queryTimetable{
    width:1180px;
    height:500px;
    display:none;
    overflow:auto;
}
#inputgrade{
    width:1180px;
    height:500px;
    display:none;
}
#showCourse{
    overflow:auto;
}
